@font-face {
  font-family: "Bitstream Vera Sans";
  src: url(fonts/veramono.ttf);
}
  
* {
  margin: 0;
  padding: 0;
}
  
html, body {
  height: 100%;
}
  
body {
  background-color: #0A0723;
  font-family: "Bitstream Vera Sans", monospace;
  color: #ffffff;
} 
  
#distance {
  float: left;
  width: 1px;
  height: 50%;
  margin-bottom: -154px;
}

#main {
  width: 570px;
  height: 175px;
  margin: 0 auto;
  position: relative;
  clear: left;
}

pre { font-family: "Bitstream Vera Sans", monospace }

h1 {
  display: inline;
  font-weight: normal;
}
  
a {
  text-decoration: none;
  color: #68FF6B;
  
  &:hover {
    text-decoration: underline;
  }
    
}

.code, h1 { font-size: 22px; }

.code {
  .t  { color: #00FFCD; }   // text
  .co { color: #6b99ba; }   // constant
  .fl { color: #FF6A4B; }   // float
  .r  { color: #FF2757; }   // keyword
  .s  { color: #68FF6B; background-color: #00332D; }   // string
  .sy { color: #00ABFF; }   // symbol
  .i  { color: #383B58; }   // invisible char
  .m  { color: #4583FD; }   // mixin
  .p  { color: #C4A960; }   // property
  .c { color: #C050C2; background-color: #000000; } // comment
}