<div class="code">
  <pre>
  <span class="c">// ==================</span>
  <span class="c">// = new coder mixin </span>
  <span class="c">// ==================</span>
  <span class="r">=</span><span class='m'>coder</span>($<span class="sy">f-name</span>: <span class="s">'Ryan'</span>, $<span class="sy">l-name</span>: <span class="s">'Jafari'</span>)<span class="i">¬</span>
    <span class="p">name</span>: <span class="s">'#{$f-name} #{$l-name}'</span>,<span class="i">¬</span>
    <span class="p">twit</span>: <span class="s">'<a href='https://twitter.com/ryanjafari' title='Twitter' target="blank">ryanjafari</a>'</span>,<span class="i">¬</span>
    <span class="p">code</span>: <span class="s">'<a href="https://github.com/ryanjafari" title="Github" target="blank">ryanjafari</a>'</span>,<span class="i">¬</span>
    <span class="p">mail</span>: <span class="s">'<a href="mailto:ryan@cetrasoft.com" title="email" target="blank">ryan@cetrasoft.com</a>'</span>,<span class="i">¬</span>
    <span class="p">work</span>: <span class="s">'<a href="http://www.cetrasoft.com" title="Cetrasoft LLC" target="blank">cetrasoft</a>'</span>,<span class="i">¬</span>
    <span class="p">olds</span>: <span class="s">'<a href="http://www.ryanjafari.com">ryanjafari.com</a>'</span>,<span class="i">¬</span>
    <span class="p">live</span>: <span class="s">'#{<a href="http://www.google.com/maps?f=q&q=40.654825,-73.671795&z=10" title="Google maps: Lynbrook, NY, United States" target="blank">40.654825, -73.671795</a>}'</span><span class="i">¬</span>
  </pre>
</div>